/*
Student Name: Yezzu Sadhika
Project deatils:  Project 3, 20th November 2016 
Student ID:   1001358368
*/
.tablecenter{
	 text-align: center;
}
.tabalign{
	width = 20%;
	border = 1pt solid black;
}
.tablecurve{
	border:solid black 1px;
    border-radius:6px;
}

.btnstyleview {
    background-color: #3380cc; 
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
  }
  .btnstylewish {
    background-color: ForestGreen ; 
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
  }
  .prodettd{
  	border-right: 1px solid white !important;
  }
  .btnstylecart {
    background-color: #33a6cc ; 
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
  }
  .pantext{
  	text-align: center;

  }
  .txtartWorkTitle{
  	margin-bottom: 10px;
  	margin-top: -10px;
  }
.txtartWorkButt{
	margin-top: 10px;
	margin-bottom: 10px;
}

 .modDiagWidth{
 	width: 400px;
 }
 #titleText{
 	display: none;
 }
 #descText{
 	display: none;
 }
 .serbotomdisp{
 	margin-bottom: 15px;
 }
 #noFilterText{
 	display: none;
 }
 .high_light
 {
 	background: yellow;
 }
 .searcolor{
 	background-color: #E3E6EA !important;
 }
 .alecolor{
background:#F5F5F5;
}
 